html{
    height: 100%;
}
body{
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#container{
    display: flex;
    height: 700px;
    width: 960px;
    background-color: white;
}

#container > div{
    flex: auto;
    display: flex;
    flex-direction: column;
}
.box{
   flex: auto;
   border: 2px solid black;
}